.grid {
  width: 80vw;
  height: 90vh;
  display: grid;
  grid-gap: 1px;
  background-color: #ddd;
  box-sizing: border-box;
}

.cell {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid black;
}

.cell.alive {
  background-color: #333;
}