.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.App-header {
  width:100%;
  padding-top: 20px;
  display: flex;
  justify-content: center; 
  margin-top: 10px;
  font-size: calc(20px + 2vmin);
  color: black;
}
